<h1>Create a new TODO</h1>

<%= form_for(@todo_item) do |f| %>
  <% if @todo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

      <ul>
      <% @todo_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :due_at %><br />
    <%= f.date_select :due_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h2>Listing TODOs</h2>

<%= render :partial => 'list', :locals => {:list => @todo_items, :list_name => 'todo'} %>

<h2>Completed TODOs</h2>

<%= render :partial => 'list', :locals => {:list => @completed_items, :list_name => 'completed'} %>